@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

$family-sans-serif: "Noto Sans", sans-serif;

.button.navbar-item {
  height: auto;
}

.navbar-item {
  font-weight: 800;
}

.category-tag {
  display: flex;
  align-items: center;
}

.homepeepone {
  width: 400px;
  transform: rotateY(180deg)
}

.homepeeptwo {
  width: 400px;
}

.loginpeep {
  width: 200px;
  transform: rotateY(180deg);
}

.signuppeep {
  width: 300px;
}

.signuppeeptwo {
  width: 140px;
  transform: rotateY(180deg);
}

.youraccountpeep {
  width: 300px;
}

@import "../../node_modules/bulma/bulma.sass";
