@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

$family-sans-serif: "Roboto", sans-serif;

.button.navbar-item {
  height: auto;
}

.spinner {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.spinner:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid hsl(141, 71%, 48%);
  border-color: hsl(141, 71%, 48%) transparent hsl(141, 71%, 48%) transparent;
  animation: spinner 1.2s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.hero {
  background-image: url("https://images.unsplash.com/photo-1566933883366-5125a3414299?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fHBhdHRlcm58ZW58MHwwfDB8fHwy");
}

.copy {
  background-color: #bcb3c9;
}

@import "../../node_modules/bulma/bulma.sass";
